<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.miner.cruzar-dados</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/gustavocoutinho/dev/dev-setup/automacao/cruzar-dados.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>8</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/gustavocoutinho/ObsidianVaults/miner/cruzamentos/launchd.out</string>
  <key>StandardErrorPath</key>
  <string>/Users/gustavocoutinho/ObsidianVaults/miner/cruzamentos/launchd.err</string>
</dict>
</plist>
